/* Todo el archivo */
*{
    margin: 0;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'calibri';
}

/* Registro */
.form-register{
    width: 600px;
    background-color: #ffffff;
    padding: 70px;
    margin: auto;
    margin-top: 100px;
    border-radius: 10px;
    font-family: 'calibri';
    color: black;
    box-shadow: 10px 10px 10px #21130d;
    box-shadow: 10px 10px 10px rgba(33, 19, 19, .6);
}

.form-register h1{
    font-weight: lighter;
    font-size: 30px;
    margin-top: 20px;
    margin-bottom: 40px;
    font-family: 'calibri';
}

.form-register p{
    height: 20px;
    text-align: justify;
}

.form-register div{
    margin-top: 20px;
    height: 1px;
    background-color: black;
}

.form-register body{
    justify-content: center;
}

/* Estilo datos input*/
.datos {
    width: 100%;
    padding: 2px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid #21130d;
    font-family: 'calibri';
    font-size: 16px;
}

/* Estilo input fecha*/
.fecha{
    width: 100%;
    padding: 2px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid #21130d;
    font-family: 'calibri';
    font-size: 16px;
}

/* Estilo seleccion de opcion*/
.opcion{
    width: 100%;
    display: block;
    font-size: 16px;
    font-family: 'calibri';
    font-weight: 400;
    border: 1px solid #21130d;
    border-radius: 4px;
    margin-bottom: 16px;
}

.navbar {
    /* border: 1px solid red; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
}

/* Estilos imagenes y botones */
.cobalto{
    /* width: 180px; */
    height: 40px;
    /* position: absolute; */
    /* left: 20px;
    top: 0px; */
}

.menu{
    /* width: 50px; */
    height: 40px;
    /* position: absolute; */
    /* right: 20px;
    top: 50px; */
}

.cobaltob{
    width: 100px;
    height: 100px;
    /* position: absolute;
    top: 100px;
    right: 595px;    */
}

.cierre{
    width: 0px;
    height: 0px;
    /* position: absolute;
    top: 120px;
    right: 370px; */
    font-weight: bold;
}

.boton{
    width: 150px;
    height: 50px;
    position: absolute;
    right: 550px;
    color: #ffffff;
    background-color: #004AAD;
    border-radius: 8px;
    font-weight: bold;
}

.boton2{
    width: 150px;
    height: 50px;
    /* position: absolute;
    right: 550px; */
    color: #ffffff;
    background-color: black;
    border-radius: 8px;
    font-weight: bold;
}

.boton3{
    width: 150px;
    height: 50px;
    position: absolute;
    right: 550px;
    color: #ffffff;
    background-color: #FF914D;
    border-radius: 8px;
    font-weight: bold;
}